<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
     {% extends "learning_logs/base.html" %}

    {% block content %}

   <p><a href="{% url 'learning_logs:topic' topic.id %}">"{{ topic }}</a></p>
    
    <p>Kasowanie wpisu</p>

    <form action="{% url 'learning_logs:del_entry' entry.id %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Skasuj wpis</button>
    </form>

    {% endblock content %}

</body>
</html>