<!DOCTYPE html>

<html lang="pl" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  {% extends "learning_logs/base.html" %}

  {% block header %}
    <h1>Tematy</h1>
  {% endblock header %}

  {% block content %}
    
    <ul>
      {% for topic in topics %}
        <li>
            <h3>
              <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
            </h3>
        </li>
      {% empty %}
        <li>Nie został jeszcze dodany żaden temat.</li>
      {% endfor %}
    </ul>
    
    <h3><a href="{% url 'learning_logs:new_topic' %}">Dodaj nowy temat</a></h3>

  {% endblock content %}

</body>
</html>